@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

:root {
    --primary: cyan;
    --dark: #232323;
    --pure: #fff;
    --smoke: whitesmoke;
    --dark-gray: #999;
}

.nav-container-custom {
    width: 1152px;
    max-width: 90%;
    margin: 0 auto;
}

.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand {
    display: flex;
    align-items: center;
}


.nav-wrapper ul.nav-list {
    list-style-type: none;
    display: flex;
    align-items: center;
    font-family: monospace;
}

.nav-wrapper ul.nav-list li {
    margin-left: 30px;
    padding: 20px 0;
    position: relative;
		font-family: 'Hi';
    font-size: 30px;
}

.nav-wrapper ul.nav-list li a {
    color: var(--pure);
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease-in-out;
}

.nav-wrapper ul.nav-list li a:hover, .nav-wrapper ul.nav-list li.active a {
    color: var(--primary);
}




@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateX(-50%) translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(-50%) translateY(20px);
    }
}

.hamburger {
    display: none;
}

.mobile .hamburger {
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    cursor: pointer;
}

.mobile .hamburger span {
    background: var(--pure);
    width: 28px;
    height: 2px;
    margin-bottom: 8px;
}

.mobile ul.nav-list {
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-in-out;
		z-index: 1;
}

.hamburger, .brand {
    z-index: 9999;
}

.mobile ul.nav-list.open {
    opacity: 1;
    pointer-events: auto;
}

.mobile .hamburger span {
    transform-origin: left;
    transition: all .3s ease-in-out;
}

.mobile ul.nav-list li a {
    font-size: 18px;
}


.mobile ul.nav-list li {
    margin-left: 0;
    text-align: center;
}